# Source 1 : https://blog.gitbutler.com/how-git-core-devs-configure-git/
# Source 2 : https://www.youtube.com/watch?v=DZI0Zl-1JqQ
# Source 2b: https://github.com/ethomson/talks/blob/main/2025-01-30-You_Dont_Know_Git.pdf

# Basically started from a copy of 1 and inserted stuff from 2/2b.

[user]
        name = styloplume
        email = 14195928+styloplume@users.noreply.github.com

# NOTE : .git/config local to each repo
#        ~/.gitconfig global to each user
# Must include this file manually with :
# > git config --local include.path ../.gitconfig

# ethomson

[alias]
	lol = log --oneline --decorate
	graph = log --oneline --graph --decorate
	refiso = reflog --date=iso
	refpre = reflog --date=iso --pretty
	wdiff = diff -w --word-diff
	blaccc = blame -C -C -C

[color.decorate]
	branch = 41
	HEAD = "#ff00ff" bold
	# Git for Windows with Mintty should install more colors than available with cmd.exe

# git grep : don't forget it.

[grep]
	lineNumber = true
	patternType = perl

# git recover : bash script, probably not compatible with Windows :/
# retrieves orphan blobs, can git cat-file <hash> etc.
# useful to retrieve something that was at least staged (indexed) and lost.

# conditional includes to separate projects or work stuff.
[includeif "gitdir:/users/user/project/"]
	path = .gitconfig.project
[includeif "gitdir:/users/user/project2/"]
	path = .gitconfig.project2

# clearly makes git better

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = master
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
        # ethomson
        tool = sgdm

[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        fsmonitor = true
        # untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        conflictstyle = zdiff3
        # ethomson
        tool = sgdm

[pull]
        rebase = true

# ethomson
[difftool.sgdm]
	cmd = sgdm \"$LOCAL\" \"$REMOTE\"

[mergetool.sgdm]
	trustExitCode = true
	cmd = sgdm -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
