# NOTE : On git configuration
# System wide config @ ?
# User global config @ c:/users/<user>/.gitconfig
# Repo local config  @ .git/config
# .gitconfig is used for shared customization
# (can be committed, holds no sensitive info)
# requires manual include for each clone of a repo :
# > git config --local include.path ../.gitconfig

# Sadness : git-recover from EThomson is a bash script probably
# not runnable on regular Windows. (starred on github anyway)

[user]
        name = styloplume
        email = 14195928+styloplume@users.noreply.github.com

[alias]
	lol = log --oneline --decorate
	graph = log --oneline --graph --decorate
	refiso = reflog --date=iso
	refpre = reflog --date=iso --pretty
	wdiff = diff --word-diff
	blaccc = blame -C -C -C

[color.decorate]
	branch = 45
	HEAD = "#00ffff" bold
# Windows MINTTY install of git offers more colours than default install

[grep]
	lineNumber = true
	patternType = perl

# Remembers previous conflict resolutions after a rebase abort
[rerere]
	enabled = true

[core]
	#excludesfile = /users/username/.gitignore

# conditional includes to separate projects or work stuff.
[user]
	#name = <name>
[includeif "gitdir:/users/user/project/"]
	path = .gitconfig.project
[includeif "gitdir:/users/user/project2/"]
	path = .gitconfig.project2
# Allows specifying different emails in different projects.

# NOTE : sgdm options breaking highlighting sorta kills it for me...
# Putting it at bottom to minimize problem.
# Also remember to check out tf merge (should come with VS)

[diff]
	tool = diffmerge

[merge]
	conflictstyle = diff3
	tool = diffmerge

[difftool.diffmerge]
	cmd = sgdm \"$LOCAL\" \"$REMOTE\"

[mergetool.diffmerge]
	trustExitCode = true
	cmd = sgdm -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
